<br/>

<app-titulo [titulo]="titulo"></app-titulo>

<div class="d-flex">
  <!-- form>.form-group.mb-2>input.form-control.mr-2 -->

  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro:</label>
      <input type="text" class="form-control mr-2" placeholder="buscar" [(ngModel)] = "filtroLista">
      <!-- btn.btn.btn-outline-success{buscar} -->
      <!-- <button class="btn btn-outline-success">buscar</button> -->
    </div>
  </div>
</div>

<div>
  <button class="btn-outline-primary" (click)="novoEvento(template)">
    <i class="fa fa-plus-circle"></i>&nbsp; <!-- uso &nbsp para dar espaço -->
    Novo Evento
  </button>
</div>

<h3>Filtro : {{filtroLista}}</h3>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)= "alternarImagem()">
          <!-- se mostrarImagem for true -->
          <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        </button>
      </th>
      <th>Id</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th colspan="2" class="text-center">Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr  *ngFor="let evento of eventosFiltrados">
      <td>
        <!-- px => pixels 
             src="http://localhost:5000/img/{{evento.urlImagem}}" => caminho antigo
        
             dataAtual junto com nome da imagem para a imagem ao ser alterada ser modificada
             automaticamente na tabela, sem refresh manual, evitando cache, pois com o tempo
             em milisegundos a imagem será diferente da anterior
        -->
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | dateTimeFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <div *ngIf="!evento.lotes.length">
          Não Informado
        </div>
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <!-- <td>{{evento.lotes | json}}</td> -->
      <td>
        <div class="btn-group">
          <!-- preciso passar como parâmetro para o openModal o id do template do modal -->
          <button class="btn btn-sm btn-primary" tooltip="Editar" (click)="editarEvento(evento, template)">
            <i class="fa fa-edit"></i>
          </button>
  
          <button class="btn btn-sm btn-danger" tooltip="Excluir" (click)="excluirEvento(evento, confirm)">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
      <td>
        <!-- ao colocar esses dados como parâmetros, eh como se essas três informações se 
             concatenacem formando uma rota: /evento/:id/edit
        -->
        <a [routerLink]="['/evento', evento.id, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum Evento Encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<!-- ao colocar template depois de # estou dizendo q o id do modal eh template -->
<div bsModal #template="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Large modal</h4>
        <!-- poderia acessar hide() tbm colocando modalRef (atributo do tipo BsModalRef criado
             na parte de programação (componente)) -->
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form [formGroup]= "registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
        
              <!-- registerForm.get('tema').errors  => se ocorrer erros
                   registerForm.get('tema').touched => a validação ocorre qnd o campo perde o foco
              -->
        
              <input type="text" class="form-control"       
                     [ngClass]="{'is-invalid': registerForm.get('tema').errors
                                 && registerForm.get('tema').touched}"
                     formControlName="tema">
              <div *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched" 
                   class="invalid-feedback">
                Tema é obrigatório
              </div>
              <div *ngIf="registerForm.get('tema').hasError('minlength') && registerForm.get('tema').touched" 
                   class="invalid-feedback">
                Tema deve ter no mínimo 4 caracteres
              </div>
              <div *ngIf="registerForm.get('tema').hasError('maxlength') && registerForm.get('tema').touched" 
                   class="invalid-feedback">
                Tema deve ter no máximo 50 caracteres
              </div>
            </div>
          </div>  
          
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control" 
                     [ngClass]="{'is-invalid': registerForm.get('local').errors
                                 && registerForm.get('local').touched}"
                     formControlName="local">
              <div *ngIf="registerForm.get('local').hasError('required') && registerForm.get('local').touched" 
                   class="invalid-feedback">
                Local é obrigatório
              </div>
            </div>
        
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
        
              <!-- colocando "a" em DD/MM/YYYY hh:mm a faço com q apareça "am" ou "pm" -->
              <input type="text" class="form-control" bsDatepicker 
                     value="{{dataEvento | dateTimeFormatPipe}}"
                     [(ngModel)]="dataEvento"
                     [bsConfig] = "{dateInputFormat: 'DD/MM/YYYY hh:mm a'}"
                     [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors
                                 && registerForm.get('dataEvento').touched}"
                     formControlName="dataEvento">
              <div *ngIf="registerForm.get('dataEvento').hasError('required') && registerForm.get('dataEvento').touched" 
                   class="invalid-feedback">
                Data e Hora é obrigatório
              </div>
            </div>
          </div>  
        
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input type="text" class="form-control" 
                     [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors
                     && registerForm.get('qtdPessoas').touched}"
              formControlName="qtdPessoas">
              <div *ngIf="registerForm.get('qtdPessoas').hasError('required') && registerForm.get('qtdPessoas').touched" 
                   class="invalid-feedback">
                Quantidade de pessoas é obrigatório
              </div>
        
              <div *ngIf="registerForm.get('qtdPessoas').hasError('max') && registerForm.get('qtdPessoas').touched" 
                   class="invalid-feedback">
                Quantidade de pessoas deve ser menor que 120.000
              </div>
            </div>
        
            <div class="form-group col-md-9">
              <label>Imagem</label>

              <table>
                <tr>
                  <td>
                    <!-- ao colocar file.click(), vc está dizendo q ao clicar nesse botão
                         o input abaixo desse botão será executado, pois file é um id,
                         id do input de tipo file
                    -->
                    <button class="btn btn-success" (click)="file.click()">Enviar Foto</button>

                    <!-- #file é o id do input -->
                    <input type="file" #file class="form-control" 
                          [ngClass]="{'is-invalid': registerForm.get('urlImagem').errors
                                        && registerForm.get('urlImagem').touched}"
                          (change)="onFileChange($event)"
                          formControlName="urlImagem" style="display: none;">
                  </td>
                </tr>
              </table>

              <div *ngIf="registerForm.get('urlImagem').hasError('required') && registerForm.get('urlImagem').touched" 
                   class="invalid-feedback">
                Imagem é obrigatório
              </div>
            </div>
        
          </div>  
        
          <div class="form-row">
            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input type="text" class="form-control" 
                     [ngClass]="{'is-invalid': registerForm.get('telefone').errors
                                 && registerForm.get('telefone').touched}"
              formControlName="telefone">
              <div *ngIf="registerForm.get('telefone').hasError('required') && registerForm.get('telefone').touched" 
                   class="invalid-feedback">
                Telefone é obrigatório
              </div>
            </div>
        
            <div class="form-group col-md-8">
              <label>Email</label>
              <input type="text" class="form-control"
                     [ngClass]="{'is-invalid': registerForm.get('email').errors
                                 && registerForm.get('email').touched}" 
                     formControlName="email">
              <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" 
                   class="invalid-feedback">
                Email é obrigatório
              </div>
        
              <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched" 
                   class="invalid-feedback">
                Email deve ser válido
              </div>
            </div>
          </div> 
        </form>
      </div>

      <div class="modal-footer d-flexbox">
        <button class="btn btn-secondary" (click)="template.hide()">
          Fechar
        </button>

        <!-- ao colocar ml-auto, vc tá dizendo q o seu botão q tá a direita vai ocupar todo o
             lado esquerdo

             passo o id do modal (chamado template) como parâmetro de salvarAlterações, pois após
             clicar no botão quero fechar o modal
        -->
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CANCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          			DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>

<!-- mostra no formato json as chaves (tema, telefone, email) e seus respectivos valores conforme
     for preenchendo os campos
-->
<!-- <p>Form Value:  {{registerForm.value | json}}</p> -->

<!-- mostra o status do formulário inválido ou válido (qnd todos os campos foram preenchidos
     corretamente) 
-->

<!-- <p>Form Status: {{registerForm.status | json}}</p> -->