<!--The content below is only a placeholder and can be replaced.-->

<app-nav></app-nav>

<div class="container text-center">

  <router-outlet></router-outlet>

  <!-- <app-eventos></app-eventos> -->
</div>

<!-- <router-outlet></router-outlet> -->