<app-titulo [titulo]="titulo"></app-titulo>
<form [formGroup]="registerForm">
  <div class="row">
    <div class="col-md-8">
      <tabset>
        <tab heading="Evento">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input type="text" class="form-control" [(ngModel)]="evento.tema"
                [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}"
                formControlName="tema" placeholder="Insira o Tema">
              <div *ngIf="registerForm.get('tema').hasError('required')
              && registerForm.get('tema').touched" class="invalid-feedback">
                Tema é obrigatório.
              </div>
              <div *ngIf="registerForm.get('tema').hasError('minlength')
            && registerForm.get('tema').touched" class="invalid-feedback">
                Tema deve ter no mínimo 4 Caracters.
              </div>
              <div *ngIf="registerForm.get('tema').hasError('maxlength')
          && registerForm.get('tema').touched" class="invalid-feedback">
                Tema deve ter no máximo 50 Caracters.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control" [(ngModel)]="evento.local" [ngClass]="{'is-invalid': registerForm.get('local').errors 
              && registerForm.get('local').touched}" formControlName="local" placeholder="">
              <div *ngIf="registerForm.get('local').hasError('required')
              && registerForm.get('local').touched" class="invalid-feedback">
                Local é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input type="text" class="form-control" [(ngModel)]="evento.dataEvento" bsDatepicker
                value="{{evento.dataEvento | dateTimeFormatPipe}}"
                [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }" [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors 
            && registerForm.get('dataEvento').touched}" formControlName="dataEvento" placeholder="">
              <div *ngIf="registerForm.get('dataEvento').hasError('required')
            && registerForm.get('dataEvento').touched" class="invalid-feedback">
                Data e hora é obrigatório.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Qtd Pessoas</label>
              <input type="text" [(ngModel)]="evento.qtdPessoas" [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors 
              && registerForm.get('qtdPessoas').touched}" class="form-control is-invalid" formControlName="qtdPessoas"
                placeholder="">
              <div *ngIf="registerForm.get('qtdPessoas').hasError('required')
              && registerForm.get('qtdPessoas').touched" class="invalid-feedback">
                Qtd Pessoas é obrigatório.
              </div>
              <div *ngIf="registerForm.get('qtdPessoas').hasError('max')
            && registerForm.get('qtdPessoas').touched" class="invalid-feedback">
                Qtd Pessoas deve ser menor que 120000.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Telefone</label>
              <input type="text" mask="(000) 0000-0000" class="form-control" [(ngModel)]="evento.telefone" [ngClass]="{'is-invalid': registerForm.get('telefone').errors 
            && registerForm.get('telefone').touched}" formControlName="telefone" placeholder="(000) 90000-0000">
              <div *ngIf="registerForm.get('telefone').hasError('required')
            && registerForm.get('telefone').touched" class="invalid-feedback">
                Telefone é obrigatório.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="evento.email" [ngClass]="{'is-invalid': registerForm.get('email').errors 
            && registerForm.get('email').touched}" formControlName="email" placeholder="e-mail">
              <div *ngIf="registerForm.get('email').hasError('required')
            && registerForm.get('email').touched" class="invalid-feedback">
                Email é obrigatório.
              </div>
              <div *ngIf="registerForm.get('email').hasError('email')
          && registerForm.get('email').touched" class="invalid-feedback">
                Deve ser um e-mail válido.
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Lotes">
          <div>
            <!-- <div> -->
            <!-- lotes n eh mais apenas um nome e sim, um array, por isso usamos formArrayName 
                 n usaremos mais formGroupName="lotes" em fieldset, pois lotes eh um array agr, por isso
                 será uma diretiva armazenando o valor de um atributo nomeado de i (posição de cada 
                 lote)

                 substitui this.registerForm.get('lotes').value por lotes.controls no *ngFor, pois 
                 criei um método chamado lotes() no typescript (programação), porém eu só quero acessar
                 os controles dos lotes, ou seja, cada lote, por isso faço lotes.controls
            -->
            <div formArrayName="lotes" *ngFor="let lote of lotes.controls; let i= index;">
              <fieldset [formGroupName]="i" class="form-group">
                <legend class="d-flex justify-content-between capitalize">

                  <!--  lotes eh de formArrayName
                        .nome é referente ao formControlName="nome" e tbm referente a chave nome
                        dentro de this.fb.group referente aos lotes

                        eh necessário colocar o i dentro de lotes.get() e n apenas '.nome', pois o
                        i referencia os vários lotes q podemos ter, ou seja, o i faz com q peguemos
                        os nomes dos diferentes lotes, evitando pegarmos sempre o msm resultado,
                        sempre o msm nome
                  -->

                  {{lotes.get(i + '.nome').value === '' ? 'Lotes' : lotes.get(i + '.nome').value}}

                  <button class="btn btn-sm btn-warning mb-1" (click)="removerLote(i)">remove</button>
                </legend>
                <div class="row">
                  <div class="form-group col-md-4">
                    <label>Nome</label>
                    <input type="text" class="form-control" formControlName="nome" placeholder="Lote"
                           [ngClass]="{'is-invalid': lotes.get(i + '.nome').errors && 
                                      lotes.get(i + '.nome').touched}">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Quantidade</label>
                    <input type="text" class="form-control" formControlName="quantidade" 
                           placeholder="000"
                           [ngClass]="{'is-invalid': lotes.get(i + '.quantidade').errors && 
                                      lotes.get(i + '.quantidade').touched}">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Preço</label>
                    <input type="text" currencyMask
                           [options]="{prefix: 'R$', thousands: '.', decimal: ',', align: 'left'}"
                           class="form-control" formControlName="preco" 
                           placeholder="R$ 0,00"
                           [ngClass]="{'is-invalid': lotes.get(i + '.preco').errors && 
                                      lotes.get(i + '.preco').touched}">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Data Início</label>
                    <input type="text" class="form-control" formControlName="dataInicio" 
                           placeholder="01/01/2019">
                  </div>
                  <div class="form-group col-md-4">
                    <label>Data Fim</label>
                    <input type="text" class="form-control" formControlName="dataFim" 
                           placeholder="01/01/2019">
                  </div>
                </div>
              </fieldset>
            </div>
            <button (click)= "adicionarLote()" class="btn btn-outline-primary">
              Adicionar Lote
            </button>
          </div>
        </tab>
        <tab heading="Redes Sociais">
          <div formArrayName="redesSociais" *ngFor="let redeSocial of redesSociais.controls; let i= index;">
            <fieldset [formGroupName]="i" class="form-group">
              <legend class="d-flex justify-content-between capitalize">

                {{redesSociais.get(i + '.nome').value === '' ? 
                  'Redes Sociais' : redesSociais.get(i + '.nome').value?.replace('fab fa-','')}}

                <button class="btn btn-sm btn-warning mb-1" (click)="removerRedeSocial(i)">remove</button>
              </legend>
              <div class="row">
                <div class="form-group col-md-4">
                  <label>Nome</label>
                  <select class="form-control" formControlName="nome"
                          [ngClass]="{'is-invalid': redesSociais.get(i + '.nome').errors && 
                          redesSociais.get(i + '.nome').touched}">
                    <option value="">Selecione</option>
                    <option value="fab fa-youtube">Youtube</option>
                    <option value="fab fa-instagram">Instagram</option>
                    <option value="fab fa-facebook">Facebook</option>
                    <option value="fab fa-twitter">Twitter</option>
                    <option value="fab fa-google">Google</option>
                    <option value="fab fa-linkedin">Linkedin</option>
                    <option value="fab fa-pinterest">Pinterest</option>
                    <option value="fab fa-whatsapp">Whatsapp</option>
                    <option value="fab fa-telegram">Telegram</option>
                    <option value="fab fa-skype">Skype</option>
                    <option value="fab fa-vimeo">Vimeo</option>
                  </select>
                </div>
                <div class="form-group col-md-8">
                  <label>Link</label>
                  <input type="text" prefix="http://" mask=""
                         formControlName="url" class="form-control" placeholder="URL"
                         [ngClass]="{'is-invalid': redesSociais.get(i + '.url').errors && 
                                    redesSociais.get(i + '.url').touched}">
                </div>
              </div>
            </fieldset>
          </div>
          <button class="btn btn-outline-primary" (click)= "adicionarRedeSocial()">
            Adicionar Rede Social
          </button>
        </tab>
      </tabset>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
          <!-- {{registerForm.value | json}} -->
          <button (click)="salvarEvento()" [disabled]="!registerForm.valid" class="btn btn-success my-2">
            Salvar Alterações
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-row">
        <div class="form-group col-md-9">
          <input type="file" #file (change)="onFileChange($event.target.files)" class="form-control is-invalid"
            formControlName="urlImagem" placeholder="" style="display: none">
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img [src]="urlImagem" class="img-fluid" (click)="file.click()" style="cursor: pointer; width: 350px;"
            alt="Card image cap" />
        </div>
        <div class="card-body pt-3">
          <h4>{{evento.tema}}</h4>
          <p class="card-text">
            <b>Local:</b> {{evento.local}}
            <br>
            <b>Data:</b> {{evento.dataEvento | dateTimeFormatPipe}}
          </p>
          <hr>
          <p class="card-text">
            <b>Contatos</b><br>
            <small class="text-muted">Telefone: {{evento.telefone | mask: '(000) 00000-0000'}}</small>
            <br>
            <small class="text-muted">e-mail: {{evento.email}}</small>
          </p>
          <p class="card-text">
            Capacidade:
            <small class="text-muted">{{evento.qtdPessoas}}</small>
          </p>
          <div class="row">
            <div class="icon-block col-md-8 iconesSociais">
              <a class="mr-3"
                href="{{redesSociais.get(l + '.url').value}}"
                *ngFor="let redeSocial of redesSociais.controls; let l=index;"
                target="_blank">
                <i class="{{redesSociais.get(l + '.nome').value}}"></i>
              </a>
            </div>
            <!--div class="col-md-4 d-flex justify-content-center">  
              <a href="#" class="btn btn-outline-primary">Participar</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>