<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="showMenu()">

  <div class="container">
    <a class="navbar-brand" routerLink="dashboard">ProAgil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div *ngIf="loggedIn()" class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active"> -->
        <li class="nav-item active" routerLinkActive="active">
          <a class="nav-link" routerLink="eventos">Eventos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link disabled" routerLink="contatos">Contatos</a>
        </li>
      </ul>
    </div>

    <!-- se tiver logado -->

    <ul *ngIf="loggedIn()" class="navbar-nav">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="cursor: pointer; text-transform: capitalize;">

          <!-- se authService.decodedToken existir, pego o nome do usuário -->
          <!-- {{authService.decodedToken?.unique_name}} -->
          {{userName()}}
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item">
            Perfil
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer">
            Sair
          </a>
        </div>
      </li>
    </ul>

    <!-- se não tiver logado -->
    <div *ngIf="!loggedIn()" class="btn success" (click)="entrar()">Entrar</div>

  </div>
</nav>