<div class="container">
  <div class="col-md-8 offset-md-2">
    <!-- colocando a tag abaixo, estou dizendo q o componente user trabalhará com rotas, q no nosso
         caso será para acessar login e registration
    -->
    <router-outlet></router-outlet>
  </div>
</div>
